
.modal {
    background: black;
    color: #d21404;
    margin-top: 175px;
    border: 1px solid #d21404;
    width: 300px;
}
.button{
    background: transparent;
    color: #d21404;
    border: 1px solid #d21404;
    cursor: pointer;
    outline: none;
}